<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SIGIL.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>322E9FF231D6AE5040563720BCA370D510C23106</string>
				<key>dateExpires</key>
				<string>5/10/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>352UZEKYPP.com.tylervick.SIGIL</string>
				<key>com.apple.developer.team-identifier</key>
				<string>352UZEKYPP</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>352UZEKYPP.com.tylervick.SIGIL</string>
				</array>
			</dict>
			<key>name</key>
			<string>SIGIL.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca3e6da9-02f6-4f74-8a7b-4410667c5cfd</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.tylervick.SIGIL</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>352UZEKYPP</string>
				<key>name</key>
				<string>Tyler Vick (Individual)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
